################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/ISTONES
/testeRepository
/MedNote
/Inspinia
/Driving
/BDV Frota
/aspnet-core-angular2-registration-login-example
